<form class="mx-auto" id="home-search-form">

  <div class="form-row align-items-center mt-3 mx-lg-5 px-lg-5">
    <div class="form-group col-md-9" style="margin-bottom:0">
      <input class="w-100" placeholder="cerca il servizio di tuo interesse...." id="home-cerca" autocomplete="off" value="" style="height:56px" />
    </div>

    <div class="form-group col-md-3" style="margin-bottom:0">
     <button id="home-search-btn" type="submit" class="btn btn-primary w-100">
         <svg class="icon"><use xlink:href="/assets/bootstrap-italia/dist/svg/sprite.svg#it-search"></use></svg>
     </button>
    </div>

  </div>
</form>

<div id="no-results-div" class="mt-5"><p class="text-center">Spiacenti, non ci sono risultati per questa ricerca.</p></div>
<div id="results-div" class="mx-5 pt-5">
  <div class="row">
    <div class="col col-md-4 mb-3">
        <div class="w-100 u-text-r-s u-color-70">
            <h3 class="u-border-bottom-m">
                <p class="u-block u-text-h4 u-color-60">Servizi</p>
            </h3>
            <ul id="schede-result-list" class="Linklist Prose u-text-r-xs search-listing"></ul>
        </div>
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 mb-3">
        <div class="w-100 u-text-r-s u-color-70">
            <h3 class="u-border-bottom-m">
                <p class="u-block u-text-h4 u-textClean u-color-60">Documenti</p>
            </h3>
            <ul id="docs-result-list" class="Linklist Prose u-text-r-xs search-listing"></ul>
        </div>
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 mb-3">
      <div class="w-100 u-text-r-s u-color-70">
          <h3 class="u-border-bottom-m">
              <p class="u-block u-text-h4 u-textClean u-color-60">Novità</p>
          </h3>
          <ul id="news-result-list" class="Linklist Prose u-text-r-xs search-listing"></ul>
      </div>
  </div>
  </div>
</div>
