<form class="mx-auto" id="home-search-form">

  <div class="form-row align-items-center mx-auto w-75">
    <div class="form-group col-md-9">
      <input class="w-100" placeholder="cerca il servizio di tuo interesse...." id="home-cerca" autocomplete="off" value="" />
    </div>

    <div class="form-group col-md-3">
     <button id="home-search-btn" type="submit" class="btn btn-primary w-100">
        <span class="u-text-r-l Icon Icon-search"></span>
     </button>
    </div>

  </div>
</form>

<div id="no-results-div">Spiacenti, non ci sono risultati per questa ricerca.</div>
<div id="results-div" class="u-margin-right-xl u-margin-left-xl u-padding-right-xl u-padding-left-xl u-padding-top-l">
  <div class="Grid Grid--withGutter">
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 mb-3">
        <div class="w-100 u-text-r-s u-color-70">
            <h3 class="u-border-bottom-m">
                <p class="u-block u-text-h4 u-color-60">Servizi</p>
            </h3>
            <ul id="schede-result-list" class="Linklist Prose u-text-r-xs search-listing"></ul>
        </div>
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 mb-3">
        <div class="w-100 u-text-r-s u-color-70">
            <h3 class="u-border-bottom-m">
                <p class="u-block u-text-h4 u-textClean u-color-60">Documenti</p>
            </h3>
            <ul id="docs-result-list" class="Linklist Prose u-text-r-xs search-listing"></ul>
        </div>
    </div>
    <div class="Grid-cell u-md-size1of3 u-lg-size1of3 mb-3">
      <div class="w-100 u-text-r-s u-color-70">
          <h3 class="u-border-bottom-m">
              <p class="u-block u-text-h4 u-textClean u-color-60">Novità</p>
          </h3>
          <ul id="news-result-list" class="Linklist Prose u-text-r-xs search-listing"></ul>
      </div>
  </div>
  </div>
</div>
