---
layout: default
title: Documenti
subtitle: Normativa, regolamenti, pareri e circolari
background:
img:
permalink: /documenti
order: 4
---
<main>
    <div class="container my-4">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
            <h6>{{ page.subtitle }}</h6>
        {% endif %}
    </div>

    <div class="container mx-auto pt-3 mb-3 px-4">
        <!-- count results -->
        <div class="m-3 h5 text-left"><span id="counts"></span> documenti trovati</div>
        <!-- filter column -->
        <div class="row">
            <div class="col-12 col-md-3">

                <!-- categoria filter -->
                {% assign filtername = "categoria" %}
                {% capture category-content %}
                    {% assign docs_category = site.data.docs.category %}
                    {% for item in docs_category %}
                    <div class="form-check form-check-group">
                        <input id="{{ filtername }}_{{item.metaname}}" type="checkbox" aria-labelledby="c_{{item.metaname}}-help" value="{{ filtername }}_{{item.metaname}}">
                        <label for="{{ filtername }}_{{item.metaname}}">{{ item.name }}</label>
                    </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=category-content %}

                <!-- tipologia filter -->
                {% assign filtername = "argomento" %}
                {% capture tema-content %}
                    {% for item in site.data.docs.tema %}
                    <div class="form-check form-check-group">
                        <input id="{{ filtername }}_{{item.metaname}}" type="checkbox" aria-labelledby="{{item.metaname}}-help" value="{{ filtername }}_{{item.metaname}}">
                        <label for="{{ filtername }}_{{item.metaname}}">{{ item.name }}</label>
                    </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=tema-content %}

                <!-- tags filter -->
                {% capture tags-content %}
                {% assign filtername = "tema" %}
                {% for item in site.data.docs.tags %}
                <div class="form-check form-check-group">
                    <input id="{{ filtername }}_{{item.metaname}}" type="checkbox" aria-labelledby="{{ filtername }}_{{item.metaname}}-help" value="{{ filtername }}_{{item.metaname}}">
                    <label for="{{ filtername }}_{{item.metaname}}">{{ item.name }}</label>
                </div>
                {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=tags-content %}

                <!-- year filter -->
                {% assign filtername = "anno" %}
                {% capture year-content %}
                    {% for year in (1990..2021) %}
                    <div class="form-check form-check-group">
                        <input id="{{ filtername }}_{{ year }}" type="checkbox" value="{{ filtername }}_{{ year }}">
                        <label for="{{ filtername }}_{{ year }}">{{ year }}</label>
                    </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=year-content %}


            </div>

            <!-- results column -->
            <div class="col-12 col-md-9 mx-auto">
                <div class="row">
                    {% for doc in site.data.docs.docs %}
                        <div class="scheda-item col-12 col-lg-6 tema_{{ doc.tags | join: ' ' }} argomento_{{ doc.tema | join: ' ' }} categoria_{{ doc.categoria | join: ' ' }} anno_{{ doc.anno }}">
                            <!-- scheda card -->
                            {% include listing/card_document.html scheda=doc %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</main>
<script src="{{site.baseurl}}/assets/scripts/schede-listing.js"></script>
