---
layout: default
title: Novità
subtitle: Eventi, avvisi e notizie
background:
img:
permalink: /news
lang: it
order: 5
---

<main>
    <div class="container my-4">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
            <h6>{{ page.subtitle }}</h6>
        {% endif %}
    </div>

    <div class="container mx-auto pt-3 mb-3 px-4">
        <!-- count results -->
        <div class="alert alert-info" role="alert">
            <span id="counts"></span> servizi trovati
        </div>
        <!-- filter column -->
        <div class="row">
            <div class="col-12 col-md-3">
                
                <!-- tema filter -->
                {% capture tema-content %}
                    {% for tema in site.data.themes %}
                    <div class="form-check form-check-group">
                        <input id="t_{{tema.metaname}}" type="checkbox" aria-labelledby="t_{{tema.metaname}}-help" value="{{tema.metaname}}">
                        <label for="t_{{tema.metaname}}">{{ tema.name }}</label>
                    </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name="argomento" content=tema-content %}

            </div>

            <!-- results column -->
            <div class="col-12 col-md-9 mx-auto">
                <div class="row">
                    {% assign schede = site.posts | sort: 'date' %}
                    {% for scheda in schede %}
                        <div class="scheda-item col-12 col-lg-6 {{ scheda.tag | join: ' ' }} {{ scheda.categories | join: ' ' }}">
                            <!-- scheda card -->
                            {% include listing/card_news.html scheda=scheda %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</main>
<script src="{{site.baseurl}}/assets/scripts/schede-listing.js"></script>
