---
layout: default
title: Servizi
subtitle: motore di ricerca del catalogo dei servizi
background:
img:
permalink: /servizi
lang: it
order: 3 
---

<main>
    <div class="container my-4">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
            <h6>{{ page.subtitle }}</h6>
        {% endif %}
    </div>

    <div class="container mx-auto mb-3 px-4">
        <!-- count results -->
        <div class="m-3 h5 text-left"><span id="counts"></span> servizi trovati</div>
        <!-- filter column -->
        <div class="row">
            <div class="col-12 col-md-3">
                
                <!-- argomento filter -->
                {% assign filtername = "argomento" %}
                {% assign sorted_themes = site.data.themes | sort: 'name' %}
                {% capture tema-content %}
                    {% for tema in sorted_themes %}
                    <div class="form-check form-check-group">
                        <input id="{{ filtername }}_{{tema.metaname}}" type="checkbox" aria-labelledby="t_{{tema.metaname}}-help" value="{{ filtername }}_{{tema.metaname}}">
                        <label for="{{ filtername }}_{{tema.metaname}}">{{ tema.name }}</label>
                    </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=tema-content %}

                <!-- tipologia filter -->
                {% assign filtername = "tipologia" %}
                {% capture type-content %}
                    {% for type in site.data.schede_types %}
                    <div class="form-check form-check-group">
                        <input id="{{ filtername }}_{{type.metaname}}" type="checkbox" aria-labelledby="type_{{type.metaname}}-help" value="{{ filtername }}_{{type.metaname}}">
                        <label for="{{ filtername }}_{{type.metaname}}">{{ type.name }}</label>
                    </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=type-content %}

                <!-- profilo filter -->
                {% assign filtername = "profilo" %}
                {% capture profile-content %}
                    {% for profile in site.data.profiles %}
                        {% assign schede_profile =  schede | where_exp: "item", "item.utenza == profile.metaname" %}
                        <div class="form-check form-check-group">
                            <input id="{{ filtername }}_{{profile.metaname}}" type="checkbox" value="{{ filtername }}_{{profile.metaname}}">
                            <label for="{{ filtername }}_{{profile.metaname}}">{{ profile.name }}</label>
                        </div>
                    {% endfor %}
                {% endcapture %}
                {% include listing/listing-accordion.html name=filtername content=profile-content %}
            </div>

            <!-- results column -->
            <div class="col-12 col-md-9 mx-auto">
                <div class="row">
                    {% assign schede = site.schede | sort: 'title' | uniq: 'title' %}
                    {% for scheda in schede %}
                        <div class="scheda-item col-12 col-lg-6 profilo_{{ scheda.utenza | join: ' profilo_' }} argomento_{{ scheda.tema | join: ' argomento_' }} tipologia_{{ scheda.tipo | join: ' tipologia_' }}">
                            <!-- scheda card -->
                            {% include listing/card_scheda.html scheda=scheda %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</main>
<script src="{{site.baseurl}}/assets/scripts/schede-listing.js"></script>
