---
layout: default
title: Servizi
subtitle: motore di ricerca del catalogo dei servizi
background:
img:
permalink: /servizi
lang: it
order: 3 
---
<script>const filters = {}</script>
<main>
    <div class="container my-4">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
            <h6>{{ page.subtitle }}</h6>
        {% endif %}
    </div>

    <div class="container mx-auto mb-3 px-4">
        <!-- count results -->
        <div class="m-3 h5 text-left"><span id="counts"></span> servizi trovati</div>
        <!-- filter column -->
        <div class="row">
            <div class="col-12 col-md-3">
                
                <!-- argomento filter -->
                <script>
                    filters.argomento = {
                        {% for tema in site.data.themes %}
                            'argomento_{{tema.metaname}}' : {'metaname': '{{tema.metaname}}', 'name': '{{tema.name}}'}
                            {% unless forloop.last %} , {% endunless %}
                        {% endfor %}
                    }
                </script>
                {% include listing/listing-accordion.html name="argomento" %}

                <!-- tipologia filter -->
                <script>
                    filters.tipologia = {
                    {% for type in site.data.schede_types %}
                        'tipologia_{{type.metaname}}' : {'metaname': '{{type.metaname}}', 'name': '{{type.name}}'}
                        {% unless forloop.last %} , {% endunless %}
                    {% endfor %}
                    }
                </script>
                {% include listing/listing-accordion.html name="tipologia" %}

                <!-- profilo filter -->
                <script>
                    filters.profilo = {
                    {% for profile in site.data.profiles %}
                        'profilo_{{profile.metaname}}' : {'metaname': '{{profile.metaname}}', 'name': '{{profile.name}}'}
                        {% unless forloop.last %} , {% endunless %}
                    {% endfor %}
                    }
                </script>
                {% include listing/listing-accordion.html name="profilo" %}
            </div>

            <!-- results column -->
            <div class="col-12 col-md-9 mx-auto">
                <div class="row">
                    {% assign schede = site.schede | sort: 'title' | uniq: 'title' %}
                    {% for scheda in schede %}
                        <div class="scheda-item col-12 col-lg-6 profilo_{{ scheda.utenza | join: ' profilo_' }} argomento_{{ scheda.tema | join: ' argomento_' }} tipologia_{{ scheda.tipo | join: ' tipologia_' }}">
                            <!-- scheda card -->
                            {% include listing/card_scheda.html scheda=scheda %}
                        </div>
                    {% endfor %}
                </div>

            </div>
        </div>
    </div>
</main>
<script src="{{site.baseurl}}/assets/scripts/schede-listing.js"></script>
