<div class="it-single-slide-wrapper">
    <div class="card-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="category-top">
                    <!-- category heading-->
                    {% for category_metaname in include.scheda.categories %}
                        <!-- get category name -->
                        {% for item in site.data.themes %}
                            {% if item.metaname == category_metaname %}
                                {% assign category_name = item.name %}
                                {% assign category_icon = item.image %}
                            {% endif %}
                        {% endfor %}
                        <a class="home-carousel-category primary-color" href="">
                            <img title="{{ category_name | capitalize }}" class="icon icon-lg carousel-icon" src="{{ site.baseurl}}{{ category_icon }}">
                            {{category_name}}
                        </a>
                        {% unless forloop.last %}<br>{% endunless %}
                    {% endfor %}
                    <!-- category data-->
                    <span class="data">{{ include.scheda.date | date: "%d-%m-%Y"}}</span>
                </div>
                <h5 class="card-title big-heading">{{ include.scheda.title }}</h5>
                <p class="card-text">{{ include.scheda.subtitle }}</p>
                <a href="{{ include.scheda.url }}">
                    <svg class="icon">
                        <use xlink:href="{{site.baseurl}}/assets/bootstrap-italia/dist/svg/sprite.svg#it-link"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>