<div class="it-single-slide-wrapper">
    <div class="card-wrapper">
        <div class="card">
            <div class="card-body">
                <div class="category-top">
                    <!-- category heading-->
                    <!-- get category name -->
                    {% for item in site.data.themes %}
                        {% if item.metaname == include.scheda.tema %}
                            {% assign category_name = item.name %}
                            {% assign category_icon = item.image %}
                        {% endif %}
                    {% endfor %}
                    <p class="home-carousel-category primary-color">
                        {% include tema_scheda_icona.html additional_classes="carousel-icon" scheda=include.scheda %}
                        {{ category_name }}
                        <!-- category data-->
                        <a class="data home-carousel-data" href="#" data-toggle="modal" data-target="#status-modal">{{ include.scheda.status }}</a>
                    </p>
                </div>
                <h5 class="card-title">{{ include.scheda.title }}</h5>
                <p class="card-text">{{ include.scheda.description }}</p>

                <a type="button" class="read-more btn btn-outline-primary btn-sm" href="{{ site.baseurl }}{{ include.scheda.url }}">
                    <span class="font-weight-bold">vai al servizio</span>
                </a>

            </div>
        </div>
    </div>
</div>