
<div id="main-accordion" class="collapse-div collapse-background-active" role="tablist">
  <!-- accordions -->
    {% assign include_file = site.data.schede.[page.object].accordion %}
    {% capture theprofile %}{{ page.utenza }}{% endcapture %}

      {% for accordion in include_file %}
            <!-- accordion header -->
          <div class="collapse-header" id="accordion-header-{{ forloop.index }}">
            <button class="h5" data-toggle="collapse" data-target="#accordion-panel-{{ forloop.index }}" aria-expanded="false" aria-controls="accordion-panel-{{ forloop.index }}">{{ accordion.title }}</button>
          </div>

            <!-- accordion body -->
          <div id="accordion-panel-{{ forloop.index }}" class="collapse" role="tabpanel" aria-labelledby="accordion-header-{{ forloop.index }}">
            <div class="collapse-body" markdown="1">

              {% capture accordion-content %}{% include schede/{{page.object}}/accordion/{{ accordion.file }} %}{% endcapture %}
              {{ accordion-content | markdownify }}

            </div>
          </div>

      {% endfor %}
</div>

