
<div id="main-accordion" class="u-layout-wide u-layoutCenter u-padding-r-bottom u-margin-r-bottom">
  <!-- accordions -->
  <div class="Accordion Accordion--default fr-accordion js-fr-accordion" id="accordion-1">

    {% assign include_file = site.data.schede.[page.object].accordion %}
    {% capture theprofile %}{{ page.utenza }}{% endcapture %}

      {% for accordion in include_file %}

        <!-- show accordion conditionally -->
        {% assign show_accordion = false %}

        {% if accordion.utenza %}

          <!-- show boxes only if utenza key mathces -->
          {% for utenza_name in accordion.utenza %}
            {% if utenza_name == theprofile %}
             {% assign show_accordion = true %}
            {% endif %}
          {% endfor %}

        {% else %}
          {% assign show_accordion = true %}
        {% endif %}

        {% if show_accordion %}
              <h2 class="Accordion-header js-fr-accordion__header fr-accordion__header" id="accordion-header-{{ forloop.index }}">
                <span class="Accordion-link">{{ accordion.title }}</span>
              </h2>

              <div id="accordion-panel-{{ forloop.index }}" class="Accordion-panel fr-accordion__panel js-fr-accordion__panel">
                <div class="Prose u-layout-prose u-color-grey-90 u-text-p u-padding-r-all" markdown="1">

                  {% capture accordion-content %}{% include schede/{{page.object}}/accordion/{{ accordion.file }} %}{% endcapture %}
                  {{ accordion-content | markdownify }}

                </div>
              </div>

        {% endif %}

      {% endfor %}

  </div>
</div>

<!-- force accordion opening -->
<script>
    var accorionOpen = function() {
      console.log('opening accordion...');
      $("h2[id*='accordion']").attr("aria-expanded","true")
      $("div[id*='accordion-panel']").attr("aria-hidden","false")
    }

    {% if page.accordion_open %}
      $(function() {
        accorionOpen();
      })
    {% endif %}
</script>
