{% capture theprofile %}{{ include.utenza }}{% endcapture %}
{% assign include_file = site.data.schede.[page.object].sidebarboxes %}

{% for box in include_file %}
    <div class="w-100">
    <!-- differ component based on box type -->
    {% if box.type == 'calltoaction' %}
        <p>
            {% if box.linkinterno %}
                {% capture linkurl %} {{ site.baseurl }}{{ box.linkurl }} {% endcapture %}
            {% else %}
                {% capture linkurl %} {{box.linkurl}} {% endcapture %}
            {% endif %}
            <a class="btn btn-primary w-100" href="{{ linkurl}}">{{ box.linktitle }}</a>
        </p>
    {% else %}
        {% capture box-content %}{% include schede/{{page.object}}/sidebarbox/{{ box.file }} %}{% endcapture %}
        {% if box.type == 'CARD' %}
            {% include sidebar-card.html title=box.title content=box-content %}
        {% else %}
            <!-- default component -->
            {% include callout.html box=box additionalClasses="" %}
        {% endif %}
{% endif %}
    </div>
{% endfor %}
