{% capture theprofile %}{{ include.utenza }}{% endcapture %}
{% assign include_file = site.data.schede.[page.object].sidebarboxes %}

{% for box in include_file %}
    <div class="w-100">
    {% capture box-content %}{% include schede/{{page.object}}/sidebarbox/{{ box.file }} %}{% endcapture %}

    <!-- differ component based on box type -->
    {% if box.type == 'calltoaction' %}
        {{box-content | markdownify}}
    {% elsif box.type == 'callout' %}
        {% include callout.html box=box additionalClasses="callout-more" %}
    {% else %}
        <!-- default component -->
        {% include sidebar-card.html title=box.title content=box-content %}

{% endif %}
    </div>
{% endfor %}
