<!--start card-->
<div class="card-wrapper card-space">
    <div class="card card-bg card-big no-after">
        <div class="card-body">
            <div class="head-tags">
                <a class="card-tag" href="#">Tag</a>
                <span class="data">10/10/2018</span>
            </div>
            <h5 class="card-title">{{ include.scheda.title }}</h5>
            <p class="card-text">{{ include.scheda.description }}</p>
            <div class="it-card-footer">
                <span class="card-signature">di Federico De Paolis</span>
                <button class="btn btn-outline-primary btn-sm">Action</button>
            </div>
        </div>
    </div>
</div>
<!--end card-->
