<!--start card-->
<div class="card-wrapper card-space">
    <div class="card card-bg card-big no-after">
        <div class="card-body">
            <div class="categoryicon-top">
                <a href="#">
                {% include tema_scheda_icona.html %}
                </a>
            </div>
            <h5 class="card-title">
                {{ include.scheda.title }}
                <sup class="h6"><a href="{{site.baseurl}}{{include.scheda.statusLink}}">{{include.scheda.status}}</a></sup>
            </h5>
            <p class="card-text">{{ include.scheda.description }}</p>
            <div class="it-card-footer">
                <a href="{{ site.baseurl }}{{ include.scheda.url }}">
                    <button class="btn btn-outline-primary btn-sm">Vai al servizio</button>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end card-->
