<div class="mt-3">
    <form class="">
        <div class="form-row">
            <div class="form-group col-12 bootstrap-select-wrapper">
                <label></label>
                <select id="comune" title="seleziona comune" data-live-search="true" data-live-search-placeholder="Cerca comune">
                    {% comment %}{{ include.options }}{% endcomment %}
                    <option value="" title="seleziona comune" data-content="Annulla <span class='reset-label'></span>"></option>
                    {% for comune in site.data.comuni %}
                    <option value="{{ comune.url }}">{{ comune.name }} </option>
                    {% endfor%}
                </select>
            </div>
        </div>
    </form>
</div>

<script>
  $('#comune').on('change', function(event) {
    console.log( 'selected ' + $(this).val() );
    //$('#gobutton').attr( 'href', $(this).val() );
    window.location.href = $(this).val()
  });
</script>
