{% assign docs_by_scheda_array = "" | split: ',' %}
  
{% for doc in site.data.docs.docs %}      
  {% for scheda in doc.schede %}
    {% assign downcasescheda = scheda | downcase %}
    {% if downcasescheda == page.object %}
      {% assign docs_by_scheda_array = docs_by_scheda_array | push: doc %}
      {%- break -%}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="link-list-wrapper">
  <ul class="link-list">
    {% for doc in docs_by_scheda_array %}
    <li><a class="list-item" target="_blank" href="{{ doc.url }}">{{ doc.title }}</a></li>
    {% endfor %}
  </ul>
</div>
