{% assign docs_by_tema_array = "" | split: ',' %}

{% for doc in site.data.docs.docs %}
  <!-- è stato eliminato il filtro scheda sostituito con tema-->
  {% for tema in doc.tema %}
    {% assign downcasetema = tema | downcase %}
    {% if downcasetema == page.tema %}
      {% assign docs_by_tema_array = docs_by_tema_array | push: doc %}
      {%- break -%}
    {% endif %}
  {% endfor %}
{% endfor %}

<div class="link-list-wrapper">
  <div>
    {% for doc in docs_by_tema_array %}
    <p><a class="list-item" target="_blank" href="{{ doc.url }}">{{ doc.title }}</a></p>
    {% endfor %}
  </div>
</div>
