<div class="it-hero-wrapper it-hero-small-size it-dark it-overlay it-bottom-overlapping-content">
  <div class="img-responsive-wrapper">
    <div class="img-responsive">
      <div class="img-wrapper"><img src="{{ site.baseurl }}/assets/images/umbria_hero.jpg" title="img title" alt="imagealt"></div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="it-hero-text-wrapper bg-dark">
          {% if page.titleForHero %}
            {% assign herotitle = page.titleForHero %}
          {% else %}
            {% assign herotitle = page.title %}
          {% endif %}
          <h1 class="no_toc">{{ herotitle }}</h1>
          <p class="d-none d-lg-block">{{ page.description }}</p>
<!--          <div class="it-btn-container"><a class="btn btn-sm btn-secondary" href="#">Link di esempio</a></div>-->
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card-wrapper card-space">
        <div class="card card-bg">
          <div class="card-body">
            <h5 class="card-title pb-3">
              Lo scopo di questo portale è fornire informazioni e strumenti utili per conoscere servizi e gestire pratiche. E’ in versione beta quale strumento condiviso con gli operatori della PA e dei cittadini.
              <a href="{{ site.baseUrl }}/{{ page.lang }}/programma/">per saperne di più></a>
            </h5>
            {% include search/search_form_home.html %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
