scarica i modelli che ti interessano:
<div class="mt-3">
    <form class="">
        <div class="form-row">
            <div class="form-group col-12 bootstrap-select-wrapper">
                <label></label>
                <select id="modulistica" title="{{ include.title }}">
                    <option disabled selected>seleziona modello</option>
                    <option value="" title="{{ include.title }}" data-content="Annulla <span class='reset-label'></span>"></option>
                    {{ include.options }}
                </select>
            </div>
        </div>
    </form>
</div>
<script>
$('#modulistica').on('change', function(event) {
    console.log( 'selected ' + $(this).val() );
    window.location.href = $(this).val()
});
</script>