<div class="mt-3">
    <form class="">

          <div class="form-row">
              <div class="form-group col-12 bootstrap-select-wrapper">
                  <label></label>
                  <select id="modulistica" title="Scarica il modello">
                      <option value="https://www.regione.umbria.it/documents/18/14519179/Domanda+DGR+974-2018+Manutentori+verde-1-2.doc/f5eeb778-939e-4923-9b4d-004c07af6d24">Domanda di rilascio dell'attestato d'idoneità del Responsabile tecnico per la costruzione e manutenzione del verde</option>
                      <option value="https://www.regione.umbria.it/documents/18/14519179/Dichiarazione+assolvimento+bollo-1.docx/64c9a3f8-ba74-4113-b465-cf5c096c43be">Dichiarazione sostitutiva per assolvimento imposta di bollo</option>
                  </select>
              </div>
          </div>
    </form>
</div>
