{% if site.categories[page.tema]%}
  <!-- show the box only for news for this theme -->
<div class="callout py-2">
  <div class="callout-title" style="position:relative;">
    <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-inbox"></use></svg>
    Novità
  </div>
  <div>
    <!-- show last 3 news for this theme -->
    {% for news in site.categories[page.tema] | limit: 3 %}
    <p><a class="list-item text-sans-serif" href="{{site.baseurl}}{{ news.url }}">{{ news.title }}</a></p>
    {% endfor %}
  </div>
</div>

{% endif %}
