{% if site.categories[page.tema]%}
  <!-- show the box only for news for this theme -->
<div class="callout py-2">
  <div class="callout-title">
    <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-horn"></use></svg>
    Novità
  </div>
  <p>
    <div class="link-list-wrapper">
      <ul class="link-list">
        <!-- show last 3 news for this theme -->
        {% for news in site.categories[page.tema] | limit: 3 %}
          <li id="news-slide-{{ forloop.index }}"><a class="list-item" href="{{site.baseurl}}{{ news.url }}">{{ news.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </p>
</div>

{% endif %}
