<!-- add feedback widget -->
<div class="u-nbfc u-borderShadow-xxs u-borderRadius-m u-color-grey-50 u-background-white u-margin-bottom-xl">
  <!--<img src="//placehold.it/400x220" class="u-sizeFull" alt="consequatur cumque et" />-->
  <div class="u-text-r-l u-padding-r-all u-layout-prose">
    <p class="u-text-h6 u-margin-bottom-l">
      <span class="u-color-50">
        Il tuo contributo è importante        
      </span>
    </p>
    <p class="u-margin-r-bottom">
      <a class="u-text-r u-textSecondary u-textClean u-color-{% if site.main_color %}{{ site.main_color }}{% else %}black{% endif %}" href="">
        Partecipa con suggerimenti ed idee: </a>
        <a href="mailto:{{site.accesso_unico_mail}}?subject=Accesso Unico - Partecipazione">questa è la mail</a>
    </p>
  </div>
</div>
