<!-- add contacts widget -->
<div class="w-100 d-flex" style="overflow-wrap: anywhere">
    <div class="callout callout-more">
        <div class="callout-title">
            {% if box.icon %}
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-{{ box.icon }}"></use></svg>
            {% endif %}
            Riferimenti e contatti
        </div>
        {% assign riferimenti = site.data.schede.riferimenti[page.object] %}
        <div>
            <p class="">
                {{ riferimenti.descrizione_direzione }}
            </p>
            <p class="u-margin-top-xs u-margin-bottom-xs">
                {{ riferimenti.nome_ufficio }}
            </p>
            <p class="u-margin-bottom-xs">
                {{ riferimenti.indirizzo }}
            </p>
            <p class="u-margin-bottom-xs">
                Tel: {{ riferimenti.telefono }}
            </p>
            <p class="u-margin-bottom-xs">
                E-mail: {{ riferimenti.email }}
            </p>
            <p class="u-margin-bottom-xs">
                PEC: {{ riferimenti.pec }}
            </p>
            <p class="u-textWeight-600 u-margin-top-xs">
                Responsabile
            </p>
            <p class="u-margin-bottom-xs">
                {{ riferimenti.nome_responsabile }}
            </p>
            <p class="u-margin-bottom-xs">
                Tel: {{ riferimenti.telefono_responsabile }}
            </p>
            <p class="u-margin-bottom-xs">
                E-mail: {{ riferimenti.email_responsabile }}
            </p>
        </div>
    </div>
</div>