<div class="Share">
  <div class="Share-reveal js-Share bg-100">
      <a href="#share-options" class="text-decoration-none" data-menu-trigger="share-options" data-menu-inline>
          <svg class="primary-bg-a6 icon icon-white icon-lg">
              <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-share"></use>
          </svg>
    <span class="px-3 text-secondary">{{ site.data.t.share }}</span>
  </a>
  </div>
  <div id="share-options" class="it-grid-list-wrapper Dropdown-menu d-none" data-menu>
      <grid-row class="">
          <a href="#" title="" class="text-decoration-none">
              <svg class="primary-bg-a6 icon icon-white icon-md">
                <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-facebook"></use>
              </svg>
          </a>
      </grid-row>
      <grid-row class="">
          <a href="#" title="" class="text-decoration-none">
              <svg class="primary-bg-a6 icon icon-white icon-md">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-twitter"></use>
              </svg>
          </a>
      </grid-row>
      <grid-row class="">
          <a href="#" title="" class="text-decoration-none">
              <svg class="primary-bg-a6 icon icon-white icon-md">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-youtube"></use>
              </svg>
          </a>
      </grid-row>
      <grid-row class="">
          <a href="#" title="" class="text-decoration-none">
              <svg class="primary-bg-a6 icon icon-white icon-md">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-medium"></use>
              </svg>
          </a>
      </grid-row>
      <grid-row class="">
          <a href="#" title="" class="text-decoration-none">
              <svg class="primary-bg-a6 icon icon-white icon-md">
                  <use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-whatsapp"></use>
              </svg>
          </a>
      </grid-row>
  </div>
</div> <!-- / .Share -->
