/* HEADER colors */
.it-header-center-wrapper {background: #662322}
.it-header-navbar-wrapper {background: #662322}
.it-header-slim-wrapper {background: #331111}

.Share-reveal {cursor: pointer;height: 48px}
.Share-reveal span {font-weight: 600; font-size:1.355rem}

/* SCHEDE */
ul.list-inline img {max-width: 45px}

/* modulistica */
.modulistica-grey-row {background-color: #f5f5f0!important}

/* SEARCH */
#results-div {display:none}
#no-results-div {display:none}
