/* HEADER colors */
.it-header-center-wrapper {background: #9c2328}
.it-header-navbar-wrapper {background: #9c2328}
.it-header-slim-wrapper {background: #331111}

.Share-reveal {cursor: pointer;height: 48px}
.Share-reveal span {font-weight: 600; font-size:1.355rem}

/* SCHEDE */
ul.list-inline img {max-width: 45px}

/* modulistica */
.modulistica-grey-row {background-color: #f5f5f0!important}

/* SEARCH */
#results-div {display:none}
#no-results-div {display:none}
.home-column-serp {max-height: 400px; overflow-y: auto}
#results-div .link-list-wrapper ul li a {line-height: 1.3em}

/* utils */
.remove-mb {margin-bottom: 0 !important;}

/* listing */
.listing-accordion-panel .form-check.form-check-group {margin-bottom: 0}
.listing-accordion-panel .form-check.form-check-group label {margin-bottom: 0}

.home-news-category-icon {width:20px !important}

/* CAROUSEL */
.carousel-icon {max-width:50px;display:inline !important}
.home-carousel-category {font-weight: bold;}
.home-carousel-data {font-size: 0.8em}