<!-- pa role links -->
<li class="d-none nav-item demo pa">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#forum-modal"><span>Forum (demo)</span></a>
</li>
<li class="d-none nav-item demo pa">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#aggiornamento-modal"><span>Aggiornamento dati (demo)</span></a>
</li>
<!-- private role links -->
<li class="d-none nav-item demo private">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#pratiche-modal"><span>Le mie pratiche (demo)</span></a>
</li>
<li class="d-none nav-item demo private">
    <a class="nav-link" href="#" data-toggle="modal" data-target="#preferiti-modal"><span>Avvisi e preferiti (demo)</span></a>
</li>