<!-- FILE TO BE REMOVED -->

<div class="dropdown login-mask">
    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Accedi
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <div class="link-list-wrapper">
            <ul id="users-list" class="link-list users-list-class">
                <li>
                    <span id="private-user" user-role="private" class="list-item">Demo accesso utente privato</span>
                </li>
                <li>
                    <span id="pa-user" user-role="pa" class="list-item">Demo accesso utente PA</span>
                </li>
            </ul>
        </div>
    </div>
</div>

<div id="header-logout-container" style="position:absolute; right:20px; top:15px;" class="{{ include.class }} logout-mask white-color">
    <div id="logout-div" style="text-align:right">
        <div class="" >
            Buongiorno, <span id="user-name" class="user-name-class"></span>
            <svg class="icon icon-white logout-icon-class">
                <use xlink:href="{{ site.baseurl }}assets/bootstrap-italia/dist/svg/sprite.svg#it-close-circle"></use>
            </svg>
        </div>
    </div>
</div>