{% assign doc = include.scheda %}

<!--start card-->
<div class="card-wrapper card-space">
    <div class="card card-bg no-after">
        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ doc.url }}">{{ doc.title }}</a>
            </h5>
            <p class="card-text">
                <strong>{{ doc.oggetto }}</strong>
            </p>

            {% if doc.interno %}
                {% assign documentUrl = site.baseurl|append: doc.url %}
            {% else %}
                {% assign documentUrl = doc.url %}
            {% endif %}
            <div class="it-card-footer">
                <a type="button" class="btn btn-outline-primary btn-sm" href="{{ documentUrl }}">
                    <span class="font-weight-bold">vai al documento</span>
                </a>
            </div>
        </div>
    </div>
</div>
<!--end card-->
