---
layout: default
---
<main>
    <div class="container my-4">
        <h1>{{ page.title }}</h1>
        {% if page.subtitle %}
        <h6>{{ page.subtitle }}</h6>
        {% endif %}
    </div>
    <div class="container mx-auto pt-3 mb-3 px-4">
        <!-- filter column -->
        <div class="row">
            <div class="col-12 col-md-3">
                <div class="it-list-wrapper">
                    <ul class="it-list">
                        <li>
                            <a href="#">
                                <div class="it-rounded-icon">
                                    <svg class="icon">
                                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
                                    </svg>
                                </div>
                                <div class="it-right-zone"><span class="text">Label 1</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="it-rounded-icon">
                                    <svg class="icon">
                                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
                                    </svg>
                                </div>
                                <div class="it-right-zone"><span class="text">Label 2</span>
                                </div>
                            </a>
                        </li>
                        <li>
                            <a class="active" href="#">
                                <div class="it-rounded-icon">
                                    <svg class="icon">
                                        <use xlink:href="/bootstrap-italia/dist/svg/sprite.svg#it-folder"></use>
                                    </svg>
                                </div>
                                <div class="it-right-zone"><span class="text">Active Label</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>

            <!-- results column -->
            <div class="col-12 col-md-9 mx-auto">
                {% assign schede = site.schede | sort: 'title' | uniq: 'title' %}
                {% for scheda in schede %}
                    {% capture schedaTitle %}
                        {{ scheda.title }}
                    {% endcapture %}
                <div class="row">
                    <div class="col-12 col-lg-12">
                        <!-- scheda card -->
                        {% include card_scheda.html scheda=scheda %}
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>