---
layout: default
---

<div id="main">

  <!-- Page Title -->
  {% if page.background %}
  <div class="container my-4" style="height: 350px; background-size: cover; background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <div class="container my-4">
  {% endif %}

    <div class="container mx-auto pt-3 mb-3 px-4">
      <section class="row">
        <div class="w-100">
          <h1>{{ page.title }}</h1>
          {% if page.img %}
          <div class="page-img-div">
            <img class="page-img" src="{{ page.img | prepend: site.baseurl | replace: '//', '/' }}">
          </div>
          {% endif %}
          {% if page.subtitle %}
          <h6>{{ page.subtitle }}</h6>
          {% endif %}
          {% if page.author %}
          <h6>{{ page.author }}</h6>
          {% endif %}
        </div>
      </section>
    </div>
  </div>

    <div class="container mx-auto mb-3 px-4">
        <section class="row">
          <div class="w-100 col-12">

            {% if page.map_width == 'small' %}
            <article class="">
            {% endif %}

              {% if page.content_files[0] %}
              <div class="pb-3">
                <p class="py-3">
                  {% capture file-content-1 %}{% include pages/{{ page.metatitle | downcase }}/content/{{page.content_files[0]}} %}{% endcapture %}
                  {{ file-content-1 | markdownify }}
                </p>
              </div>
              {% endif %}

            {% include arcgis.html %}

            {% if page.content_files[1] %}
              <div class="pb-3">
                <p class="py-3">
                  {% capture file-content-2 %}{% include pages/{{ page.metatitle | downcase }}/content/{{page.content_files[1]}} %}{% endcapture %}
                  {{ file-content-2 | markdownify }}
                </p>
              </div>
            {% endif %}

            {{ content }}

            {% if page.content_files[2] %}
              <div class="pb-3">
                <p class="py-3">
                  {% capture file-content-3 %}{% include pages/{{ page.metatitle | downcase }}/content/{{page.content_files[2]}} %}{% endcapture %}
                  {{ file-content-3 | markdownify }}
                </p>
              </div>
            {% endif %}

            {% if page.map_width == 'small' %}
            </article>
            {% endif %}

            <div class="col-6 col-lg-3">{% include share.html %}</div>
          </div>

        </section>
      </div>
  </div>
</div>
