---
layout: default
---

<div id="main">

  <!-- Page Title -->
  {% if page.background %}
  <div class="container my-4" style="height: 350px; background-size: cover; background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <div class="container my-4">
  {% endif %}

    <div class="container mx-auto pt-3 mb-3 px-4">
      <section class="row">
        <div class="w-100">
          <h1>{{ page.title }}</h1>
          {% if page.img %}
          <div class="page-img-div">
            <img class="page-img" src="{{ page.img | prepend: site.baseurl | replace: '//', '/' }}">
          </div>
          {% endif %}
          {% if page.subtitle %}
          <h6>{{ page.subtitle }}</h6>
          {% endif %}
          {% if page.author %}
          <h6>{{ page.author }}</h6>
          {% endif %}
          {% if page.releasedate %}
          <span class="meta">{{ page.releasedate }}</span>
          {% endif %}
        </div>
      </section>
    </div>
  </div>

  <div class="container mx-auto mb-3 px-4">
    <section class="row">
      <div class="w-100 col-md-8">

        <article class="">

          <div class="mt-3 mb-5">
          {{ content }}
          </div>

          <!-- add moduli cards -->
          <section id="moduls-list" class="pl-3">

            {% for doc_group in page.modulistica %}

              <div class="my-3 mb-3">

                <!-- group name -->
                <div class="text-white font-weight-bold h5 primary-bg-a6">
                  <div style="border-bottom: 1px solid lightgrey;" class="">
                      <p class="pl-3 pt-3">
                        {{ doc_group.tipologia }}
                      </p>
                  </div>
                </div>

              {% assign counter = 0 %}

                <!-- document group list -->
              {% for doc in doc_group.documenti %}

                {% if counter > 0 %}
                  {% assign grey-class = 'modulistica-grey-row' %}
                {% else %}
                  {% assign grey-class = '' %}
                {% endif %}

                <div class="{{grey-class}} pl-3">
                  <span class="">
                    <a href="{{doc.link}}" target="_blank" title="Scarica il documento">{{ doc.nome }}</a></span>
                      <p class="">
                      {{ doc.denominazione }}, <b>release {{ doc.release}}</b>
                      </p>
                    </a>
                  </p>
                </div>

                {% assign counter = counter | plus: 1 | modulo:2 %}
              {% endfor %}

            {% endfor %}
          </div>
          </section>

        </article>

      </div>

      <!-- Sidebar -->
      <div class="col-md-4 p-3">
        {% include pages/sidebar.html %}
        <!-- add separator -->
        <div class="p-5"></div>
        {% include share.html %}
      </div>
      <!-- / Sidebar -->

    </section>
  </div>
</div>
