---
layout: default
scripts:
  - /assets/scripts/modulistica.js
---

<div id="main">

  <!-- Page Title -->
  <div class="container">
    <div class="mx-auto pt-5 mb-2 px-4">
      <section class="row">
        <div class="col-md-9">
          <h1 class="neutral-1-color-b5 h2">
          {{ page.title }}
            {% if page.status%}
            <sup class="h6"><a href="{{site.baseurl}}{{page.statusLink}}">{{page.status}}</a></sup>
            {% endif %}
          </h1>
          {% if page.img %}
          <div class="page-img-div">
            <img class="page-img" src="{{ page.img | prepend: site.baseurl | replace: '//', '/' }}">
          </div>
          {% endif %}
          {% if page.subtitle %}
          <p class="">{{ page.subtitle }}</p>
          {% endif %}
        </div>

        {% assign user_items = site.data.profiles | where_exp: "item", "item.metaname == page.utenza" %}
        {% assign user_item = user_items[0] %}
        {% assign type_items = site.data.schede_types | where_exp: "item", "item.metaname == page.tipo" %}
        {% assign type_item = type_items[0] %}

        {% comment %} get tema from page.argomento if available else use page.tema {% endcomment %}
        {% assign page_tema = page.tema %}
        {% if page.argomento %}
          {% assign argomento_items = site.data.argomenti | where_exp: "item", "item.metaname == page.argomento" %}
          {% assign argomento_item = argomento_items[0] %}
          {% assign page_tema = argomento_item.tema %}
        {% endif %}
        {% assign theme_items = site.data.themes | where_exp: "item", "item.metaname == page_tema" %}
        {% assign theme_item = theme_items[0] %}


        <div class="col-md-3 p-3 d-flex justify-content-center">
              <div id="scheda-icons-div" class="text-center d-none d-sm-inline">
                <ul class="list-inline">
                  <li class="list-inline-item">
                    <img title="{{ theme_item.name | capitalize }}" class="icon icon-lg" src="{{ theme_item.image_red_circle }}">
                  </li>
                  <li class="list-inline-item">
                    <img title="{{ type_item.name | capitalize }}" class="icon icon-lg" src="{{ site.baseurl}}{{ site.iconsurl }}cerchio_rosso_{{ page.tipo }}.png">
                  </li>
                </ul>
              </div>
          </div>
      </section>
  </div> <!-- /.u-sizeFull -->

  <div class="mx-auto mb-5 px-4">
    <section class="row">
      <div class="col-md-8">

        <article class="">

          <h6 class="mb-5">{{ page.description }}</h6>

          {% include schede/accordion.html %}

        </article>

      </div>

      <!-- Sidebar -->
      <aside class="col-md-4 p-3">

        {% capture theprofile %}{{ page.utenza }}{% endcapture %}
        {% capture theme %}{{ page.tema }}{% endcapture %}
        {% include schede/sidebar.html utenza=theprofile tema=theme %}
      <!-- si nasconde perchè non attivo ma solo dimostrativo
        <div id="handle-favorite" class="u-margin-bottom-l" scheda_title="{{ page.object }}-{{ page.utenza }}" scheda_url="{{ page.url }}">
          <button id="add-scheda-to-favorites-btn" class="Button Button--default u-text-xs u-sizeFull">
            Aggiungi ai preferiti
            <!-- <span id="" class="white u-text-r-xxs Icon Icon-favorite" title="Aggiungi ai preferiti"></span>
          </button>
          <button id="remove-scheda-from-favorites-btn" class="Button Button--default u-text-xs u-sizeFull">
            Rimuovi dai preferiti
            <!-- <span id="" class="white u-text-r-xxs Icon Icon-cancel" title="Rimuovi dai preferiti"></span>
          </button>
        </div>
        -->
        {% if site.data.schede.riferimenti[page.object] %}
          {% include riferimenti.html %}
        {% endif %}

        <!-- qui c'è originariamente il sidebar.tml spostato all'inizio dell'aside-->

        {% include novita_box.html %}

        <div id="tue-scelte" class="w-100">
          <p>
            <a class="btn btn-primary w-100" href="{{ site.baseurl}}/schede_search">
              Nuova ricerca
            </a>
          </p>
        </div>

        <!-- box partecipa -->
        <div class="callout {{ include.additionalClasses }}">
          <div class="callout-title">
            <svg class="icon"><use xlink:href="{{ site.baseurl }}/assets/bootstrap-italia/dist/svg/sprite.svg#it-horn"></use></svg>
            Partecipa
          </div>
          <p>Il tuo contributo è importante</p> <a href="mailto:{{site.accesso_unico_mail}}?subject=Accesso Unico - Partecipazione">Proponi suggerimenti ed idee: questa è la mail</a>
        </div>
        <!-- / box partecipa -->

        {% include share.html %}

      </aside>
      <!-- / Sidebar -->

    </section>
    </div>
  </div>
</div> <!-- /main -->

<script>
  // underline menu
  setTimeout(function() {
    underlineMenu(1)
  }, 500)
</script>
