<!-- MODALE PER PAGINA ONBOARDING -->
<div id="status-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="status">
    <div role="document" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header primary-bg">
                <h5 class="modal-title" style="color:#fff !important">Processo di Onboarding</h5>
            </div>
            <div class="modal-dialog">

                <!-- CONTENUTO DELLA MODALE -->
                <div class="mx-3">
                    <p>
                        L’<b>ingresso dei servizi all’interno del Portale "UmbriaFacile"</b> deve rispettare precisi criteri di qualità e di funzionalità (principi digital first, service design, cittadino al centro, omnicanalità, comunicazione chiara, ecc), secondo processi e metodologie ben definite.
                        <br>
                        Ogni <b>servizio</b>, quindi, viene <b>ridisegnato</b> nel rispetto dei <b>requisiti minimi</b> fissati per l'inserimento in catalogo: un <b>percorso impegnativo</b> per la definizione condivisa delle metodologie da seguire per l'aumento del loro livello di sofisticazione /interattività.
                        <br><br>
                        Ogni scheda-servizio è caratterizzata da uno <b>"stato del servizio"</b>:
                        <img class="img-fluid" src="{{ site.baseurl }}/assets/images/2018/11/stato-del-servizio.png" alt="Stato del servizio">
                    </p>
                </div>
                <!-- / CONTENUTO DELLA MODALE -->

            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" data-dismiss="modal">Chiudi</button>
            </div>
        </div>
    </div>
</div>
<!-- / MODALE PER PAGINA STATUS -->